.dateContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 6px 10px;
}

.contentDate {
	opacity: 0.7;
}

.contentText {
	display: block;
	hyphens: auto;
}

.textContainer {
	margin: 12px 20px;
	display: block;
}

.card {
	display: block;
	width: 1000px;
	margin: 20px;
	padding: 8px;
}

.controlsContainer {
	display: flex;
	padding: 4px 20px;
}
